body {
  background-color: lightpink;
}

h1 {
  font-style: oblique;
  color: #cf0246;
  text-align: center;
}

.introBox {
  width: 300px;
  margin: auto;
  font-family: "Tahoma", cursive, sans-serif;
}